mat-card {
    width: 80%;
    margin: auto;
}

mat-form-field {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

textarea {
    width: 100%;
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    margin: 1rem 0;
}

.image-preview img {
    display: block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .55);
    border-radius: 10px;
    height: 50%;
    width: 50%;
}