:host {
    display: block;
    margin-top: 1rem;
}

mat-expansion-panel-header {
    margin: 20px 0;
}

mat-accordion+p {
    text-align: center;
}

mat-spinner {
    margin: auto;
}

.post-image {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.post-image img {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

mat-paginator {
    margin-top: 1rem;
}